{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>

<html>
<head>
	<title></title>

<!-- 	<link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
 -->	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700," rel="stylesheet">
	

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="ccpa_project/templates/base.css"> -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{% static 'website_app/website_app.css' %}">

	<!-- SITE FONT -->

	{% block css_block %}

	{% endblock %}

</head>
<body>

	<div style="background-color: #1475BE">
	<div class='container-fullwidth'>
	<nav class="navbar navbar-light navbar-expand-lg" style="font-weight: 300;background-color: #ffffff;border-radius: 0px">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a id="brand" class="navbar-brand mb-0 h1" style="color:#396598;" href="{% url 'website_app:index' %}"> <img src="{% static 'website_app/internet.svg' %}" width="40" height="40" alt=""></a>
	    </div>
	    <ul class="nav navbar-nav">
	      <!-- <li class="nav-item r-2"><a href=""><span style="color:#333333">Home</span></a></li> -->

	      <li class="nav-item r-2" style="font-size: 1.2em"><a href="{% url 'website_app:ccpa_detail' %}"><span style="color:#5D5D5D"><b>About</b></span></a></li>

	      <li class="nav-item r-2" style="font-size: 1.2em"><a href="{% url 'website_app:products_detail' %}"><span style="color:#5D5D5D"><b>Products</b></span></a></li>

	      <li class="nav-item r-2" style="font-size: 1.2em"><a href="{% url 'website_app:services_detail' %}"><span style="color:#5D5D5D"><b>Our Vision</b></span></a></li>

	      <li class="nav-item r-2" style="font-size: 1.2em"><a href="{% url 'website_app:sales_create' %}"><span style="color:#5D5D5D"><b>Contact Us</b></span></a></li>

	      <li class="nav-item r-2" style="margin-top:12px;"> 
	      		<button class="btn btn-outline-info my-sm-0" type="button" style="font-size:.85em;width: 120px;"><b>Sign In</b>
	      		</button>
	      </li> 
	    </ul>
	  </div>
	</nav>
	</div>
	</div>
<!-- 	<div class="container" id="bodyContainer">
 -->
	{% block body_block %}

	{% endblock %}

	<!-- </div> -->
	

</body>
</html>