{% extends 'website_app/base.html' %}
{% load static %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'website_app/website_app.css' %}">
{% endblock %}


{% block body_block %}


<div class="container-fullwidth index-banner">
	<div class="row d-flex justify-content-center" id='hero-text'>
		<div class="col-12 banner-col">
			<p id='index-hero-title'>Your customers expect data privacy, and we're here to help you give it to them.</p>
		</div>
	</div>
	<div class="row d-flex justify-content-center" id='hero-subtext'>
		<div class="col-12 banner-col">
			<p id='index-hero-text'>Braveheart Data is your dedicated partner in staying compliant with the data privacy expectations your customers demand. We do the heavy lifting, so that you don't have to.</p>
		</div>
		
	</div>
	<div class="row d-flex justify-content-center">
		<div class="col-12 text-center">
				<a href="{% url 'website_app:sales_create' %}"><button type="button" class="btn btn-success">Request a demo</button></a>
		</div>
	</div>
	

</div>


<!-- <div class="container-fullwidth index-banner">

	<div class="row">
		<div class="col-sm index-banner-col">

	<div id='home_banner'>

			<div class="row">
				<div class="col-sm index-banner-col">	
					<h1 class='heroStatement'>Your customers expect data privacy, and we're here to help you give it to them.</h1>
				</div>	
			</div>

			<div class="row">
				<div class="col-sm index-banner-col">
					<h6 class='mt-4 hero-subtext'>Braveheart Data is your dedicated partner in staying compliant with the data privacy expectations your customers demand. We do the heavy lifting, so that you don't have to.</h6>
					</div>
			</div>
	
		</div>
		</div>
	</div>

		<div class="row" style="padding-top: 10px;">
					<div class="col-sm  index-banner-col">
						<a href="{% url 'website_app:products_detail' %}"><button type="button" class="btn btn-success" style="float: center;width: 200px;font-weight: 600;">Learn More</button></a>
					</div>
					
		</div>
</div> -->

<!-- <div class="container"><img src="{% static 'website_app/home_accent_image2.png' %}" id="home_accent_image2"></div>
<div class="container"><img src="{% static 'website_app/home_accent_image3.png' %}" id="home_accent_image3"></div> -->

<div class="container" id='index-solution-container'>
	
	<div class="row">
	<div class="col-12 mx-auto jumbotron j2">
		<!-- <p style="color:#5D5D5D; font-size: 1.1em;opacity: .7;"><strong>The Challenge</strong></p> -->
	
		
		
		<div class="row">
			<div class="col-4 home-exp" style="padding: 15px">
				<img src="{% static 'website_app/shield.svg' %}"  class="img-fluid" width="100" height="100" alt="">
			</div>
			<div class="col-4 home-exp" style="padding: 15px">
				<img src="{% static 'website_app/cloud-computing.svg' %}"  class="img-fluid" width="100" height="100" alt="">
			</div>
			<div class="col-4 home-exp" style="padding: 15px">
				<img src="{% static 'website_app/deal.svg' %}"  class="img-fluid" width="100" height="100" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-4 d-none d-sm-block solutionTitle">BUSINESS & COMPLIANCE<br> SOLUTIONS
			</div>
			<div class="col-4 d-none d-sm-block solutionTitle">TECHNOLOGY<br> SOLUTIONS
			</div>
			<div class="col-4 d-none d-sm-block solutionTitle">CUSTOMER SERVICE<br> SOLUTIONS
				
			</div>
		</div>
		<div class="row">
			<div class="col-4 d-none d-sm-block home-exp">
				Ensure you stay compliant with an ever-changing landscape.
			</div>
			<div class="col-4 d-none d-sm-block  home-exp">
				Dedicated branded webpages your site can leverage.
			</div>
			<div class="col-4 d-none d-sm-block  home-exp">
				Full service call-center that scales with you.
			</div>
		</div>
		<div class="row">
			<div class="col-4 d-none d-sm-block  home-exp">
				Consumer identity verification through 2FA and other mechanisms.
			</div>
			<div class="col-4 d-none d-sm-block  home-exp">
				100% Cloud based solutions and processes.
			</div>
			<div class="col-4 d-none d-sm-block  home-exp">
				Highly qualified and trained Customer Service Reps so that you don't have to hire.
			</div>
		</div>
		<div class="row">
			<div class="col-4 d-none d-sm-block  home-exp">
				Educational newsletters and webinars to keep your team up-to-date.
			</div>
			<div class="col-4 d-none d-sm-block  home-exp">
				Receive consumer data requests both real-time and through batch processes.
			</div>
			<div class="col-4 d-none d-sm-block  home-exp">
				Omni-channel enabled provides flexibility and control to your customers.
			</div>
		</div>
		<div class="row">
			<div class="col-12 pt-3" style="font-size: .9em;">
				<a href="{% url 'website_app:products_detail' %}"><button type="button" class="btn btn-info">Explore Solutions</button></a>
			</div>
		</div>
		
	</div>
</div>

</div>

<div class="container-fluid" id="value-add-container">
	<div class="row pr-5 pl-5">
		<div class="col-6 col-sm-6 col-md-3 value-add-text">
				<img src="{% static 'website_app/success_check.svg' %}" width="70" height="auto">
				<p style="padding-top: 20px;" class="mt-auto">Ensure compliance<!-- <br> with expert guidence. --></p>
			</div>
			<div class="col-6 col-sm-6 col-md-3 value-add-text">
				<img src="{% static 'website_app/success_check.svg' %}" width="70" height="auto">
				<p style="padding-top: 20px;" class="mt-auto">Increase customer trust<!--  by providing the right data. --></p>
			</div>
			<div class="col-6 col-sm-6 col-md-3 value-add-text">
				<img src="{% static 'website_app/success_check.svg' %}" width="70" height="auto">
				<p style="padding-top: 20px;" class="mt-auto">Improve customer request time<!--  with a mult-channel approach. --></p>
			</div>
			<div class="col-6 col-sm-6 col-md-3 value-add-text">
				<img src="{% static 'website_app/success_check.svg' %}" width="70" height="auto">
				<p style="padding-top: 20px;" class="mt-auto">Better know your customers<!--  through data and analytics. --></p>
			</div>
		
	</div>
</div>


<!-- <div class="container-fluid" id="value-add-container" style="background-color:rgba(45, 93, 123) ">
		<div class="row"  id="value-add">
			<div class="col-sm-6 col-md-3 value-add-text">
				<img src="{% static 'website_app/success_check.svg' %}" width="40" height="auto">
				<p style="padding-top: 60px;" class="mt-auto"><b>Ensure<br> compliance<br> with expert guidence.</b></p>
			</div>
			<div class="col-sm-6 col-md-3 value-add-text">
				<img src="{% static 'website_app/success_check.svg' %}" width="40" height="auto">
				<p style="padding-top: 80px;" class="mt-auto"><b>Increase<br> customer trust by providing the right data.</b></p>
			</div>
			<div class="col-sm-6 col-md-3 value-add-text">
				<img src="{% static 'website_app/success_check.svg' %}" width="40" height="auto">
				<p style="padding-top: 60px;" class="mt-auto"><b>Improve customer<br> request time with a mult-channel approach.</b></p>
			</div>
			<div class="col-sm-6 col-md-3 value-add-text">
				<img src="{% static 'website_app/success_check.svg' %}" width="40" height="auto">
				<p style="padding-top: 40px;" class="mt-auto"><b>Better know<br> your customers through data and analytics.</b></p>
			</div>
		</div>
	
</div> -->


<div class="container resource-container">
	<div class="row">
		<div class="col-12 d-none d-sm-block">
			<h1 class="resources" style="text-align: center">Resources</h1>
		</div>
	</div>
	<div class="row">
			<div class="col-md-12 col-lg-4 resourceTitle mt-5">

				<div class="card index-resource-card">
					<img src="{% static 'website_app/secure_server.svg' %}" class="mx-auto card-img-top index-resource-img" alt="How you're affected">
					<div class="card-body d-flex flex-column">

						<h5 class="card-title">How new legislation affects your business</h5>
						<p class="card-text">With new data privacy restrictions comes necessary changes to stay compliant. See the report here.</p>
						<div class="mt-auto" style="text-align: center;">
							<a href="{% url 'website_app:compliance_detail' %}" class="btn btn-info index-resource-button">Learn more</a>
						</div> 
					</div>
				</div>


			</div>

			<div class="col-md-12 col-lg-4 resourceTitle mt-5">

				<div class="card index-resource-card">
					<img src="{% static 'website_app/marketing.svg' %}" class="mx-auto card-img-top index-resource-img" alt="Braveheart Experience">
					<div class="card-body d-flex flex-column">

						<h5 class="card-title">How to prepare for CCPA</h5>
						<p class="card-text">New to data compliance? See how to best prepare yourself for data compliance. </p> 
						<div class="mt-auto" style="text-align: center;">
							<a href="{% url 'website_app:compliance_detail' %}" class="btn btn-info index-resource-button">Read now</a>
						</div>
					</div>
				</div> 
			</div>

			<div class="col-md-12 col-lg-4 resourceTitle mt-5">

				<div class="card index-resource-card">
					<img src="{% static 'website_app/content.svg' %}" class="mx-auto card-img-top index-resource-img">
					<div class="card-body d-flex flex-column">

						<h5 class="card-title">The Braveheart Data experience</h5>
						<p class="card-text">The Braveheart Data experience makes it easy for your company to stay compliant and handle consumer data requests. See how.</p>
						<div class="mt-auto" style="text-align: center;">
							<a href="{% url 'website_app:products_detail' %}" class="btn btn-info index-resource-button">Check it out</a>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="col-sm resourceTitle mt-5"><h4>Product Demos</h4>
				<br><div class="resourceBody">Wondering what Braveheart Data can do for your business? Visit our library of demo videos to find out.</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div class="btn btn-link" style="text-align:left">Watch now</div>
			</div> -->
		</div>
</div>

<div style="background-color: #1475BE;">
	<p class="reachOutText">Want to find out how Braveheart Data can help your team?</p>
	<div align="center">
	<a href="{% url 'website_app:sales_create' %}"><button type="button" class="btn btn-success reachOutButton"> Reach out</button></a>
	</div>		
</div>

{% endblock %}
