{% extends 'website_app/base.html' %}
{% load static %}

{% block body_block %}

<!-- <div style="background-color: #2d5d7b"> -->
<div class="container-fullwidth solutions-banner">
	

	<div class="row d-flex justify-content-center" id='solution-banner-content'>
		<div class="col-12 banner-col">
			<p id='solution-banner-title'>The right tools for success.</p>
		</div>
	</div>
	

	<div class="row d-flex justify-content-center" id='solution-banner-subcontent'>	
		<div class="col-12 banner-col">
			<p id='solution-banner-text'>Braveheart Data gives you everything you need to give your customers the data privacy experience they expect, all while keeping your company compliant.</p>
			<!-- <h6 class='mt-4' style="font-weight: 300;text-align: left">Braveheart Data gives you everything you need to give your customers the data privacy experience they expect.</h6> -->
		</div>
	</div>

	<div class="row d-flex justify-content-center">
		<div class="col-12 text-center">
				<a href="{% url 'website_app:sales_create' %}"><button type="button" class="btn btn-success">Request a demo</button></a>
		</div>
	</div>
</div>



<div class="container-fullwidth">
<nav>


	<div class="nav nav-tabs justify-content-center flex-column flex-sm-row" id="nav-tab" role="tablist">

	    <a class="nav-item nav-link solutions-title-1 flex-sm-fill text-sm-center" id="nav-business-tab" data-toggle="tab" href="#nav-business" role="tab" aria-controls="nav-business" aria-selected="true">BUSINESS & COMPLIANCE SOLUTIONS</a>


	    <a class="nav-item nav-link active solutions-title-2 flex-sm-fill text-sm-center" id="nav-technology-tab" data-toggle="tab" href="#nav-technology" role="tab" aria-controls="nav-technology" aria-selected="true">TECHNOLOGY SOLUTIONS</a>

	    <a class="nav-item nav-link solutions-title-3 flex-sm-fill text-sm-center" id="nav-service-tab" data-toggle="tab" href="#nav-customer-service" role="tab" aria-controls="nav-customer-service" aria-selected="true">CUSTOMER SERVICE SOLUTIONS</a>

	</div>
</nav>
<div class="tab-content">



	<div class="tab-pane fade" id="nav-business" role="tabpanel" aria-labelledby="nav-business-tab"><br>



		<div class="container mb-5" style="margin-top: 50px;">

			<div class="card-deck">
			
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/shield_blue.svg' %}" alt="Shield Image">
						<div class="card-body">
							<h5 class="card-title">Stay Compliant</h5>
							<p class="card-text">We automatically keep your collateral up-to-date with any new compliance measures and requirements.</p>
						</div>
					</div>
				
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/identity.svg' %}" alt="Identity Image">
						<div class="card-body">
							<h5 class="card-title">Verified Consumer Requests</h5>
							<p class="card-text">We ensure your consumers are who they say they are by catching bad actors at the gate. You don't have to worry about bad requests, because we verify the validity up front.</p>
						</div>
					</div>
		
			
			</div>

			<div class="card-deck mt-5">
			
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/audit_traile.svg' %}" alt="Audit Trail Image">
						<div class="card-body">
							<h5 class="card-title">Robust Audit Trail</h5>
							<p class="card-text">We automatically keep your collateral up-to-date with any new compliance measures and requirements.</p>
						</div>
					</div>
				
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/education.svg' %}" alt="Identity Image">
						<div class="card-body">
							<h5 class="card-title">Education and Training</h5>
							<p class="card-text">We ensure your consumers are who they say they are by catching bad actors at the gate. You don't have to worry about bad requests, because we verify the validity up front.</p>
						</div>
					</div>
		
			
			</div>

		</div>




	</div>


	<div class="tab-pane fade show active" id="nav-technology" role="tabpanel" aria-labelledby="nav-technology-tab">

		<div class="container mb-5" style="margin-top: 50px;">

			<div class="card-deck">
			
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/branded_webform1.svg' %}" alt="Web Form Image">
						<div class="card-body">
							<h5 class="card-title">Branded Web Form</h5>
							<p class="card-text">Out of the box web form for consumer data requests stylized to match your company’s branding and stylesheets.</p>
						</div>
					</div>
				
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/webcase.svg' %}" alt="Web-to-Case Image">
						<div class="card-body">
							<h5 class="card-title">Web-to-Case</h5>
							<p class="card-text">Gather consumer data requests directly from your company’s website and automatically generate Cases to be queued and worked.</p>
						</div>
					</div>
		
			
			</div>

			<div class="card-deck mt-5">
			
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/call-center2.svg' %}" alt="Telephony Image">
						<div class="card-body">
							<h5 class="card-title">Full Telephony Integration</h5>
							<p class="card-text">Provide consumers with a seamless calling option complete with a tailored telephony experience.</p>
						</div>
					</div>
				
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/omni_channel.svg' %}" alt="Omni-Channel Image">
						<div class="card-body">
							<h5 class="card-title">Omni-Channel Routing</h5>
							<p class="card-text">Regardless of channel, consumer data requests are funneled and worked through the same engagement layer and processes providing consistent experiences both internally and for the customer.</p>
						</div>
					</div>
		
			
			</div>

			<div class="card-deck mt-5">
			
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/analytics.svg' %}" alt="Service Analytics Image">
						<div class="card-body">
							<h5 class="card-title">Service Analytics</h5>
							<p class="card-text">Easily drill into consumer profiles and request history using one of our out of the box dashboards.</p>
						</div>
					</div>
				
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/optout.svg' %}" alt="Opt-out Image">
						<div class="card-body">
							<h5 class="card-title">Automated Opt-out Requests</h5>
							<p class="card-text">Handle consumer opt-out requests in real time so that you can update your source systems same day.</p>
						</div>
					</div>
		
			
			</div>
			<div class="card-deck mt-5">
			
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/api_enabled.svg' %}" alt="API Enabled Image">
						<div class="card-body">
							<h5 class="card-title">API Enabled for Automated Requests</h5>
							<p class="card-text">Receive data and opt-out requests in real time so that you can proactively route and queue cases.</p>
						</div>
					</div>
				
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/cloudbased1.svg' %}" alt="Cloud Based Image">
						<div class="card-body">
							<h5 class="card-title">100% Cloud Based</h5>
							<p class="card-text">Nothing to install. Everything is stored, managed, and processed on our remote servers so that you can keep your focus on those things that really matter.</p>
						</div>
					</div>
		
			
			</div>

		</div>

</div>


	<div class="tab-pane fade" id="nav-customer-service" role="tabpanel" aria-labelledby="nav-service-tab">
		<div class="container mb-5" style="margin-top: 50px;">

			<div class="card-deck">
			
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/call-center4.svg' %}" alt="Call Center Image">
						<div class="card-body">
							<h5 class="card-title">Full Service Call Center</h5>
							<p class="card-text">Take advantage of our complete call center. We provide trained Customer Service Reps that handle calls so that you don’t have to hire and train any new employees.</p>
						</div>
					</div>
				
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/branded_webform.svg' %}" alt="Multiple Channels Image">
						<div class="card-body">
							<h5 class="card-title">Service Through Multiple Channels</h5>
							<p class="card-text">Consumers preferences vary between age groups. Gather consumer requests through a number of different channels to provide the most flexibility for your customers.</p>
						</div>
					</div>
		
			
			</div>

			<div class="card-deck mt-5">
			
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/premier-support.svg' %}" alt="Premier Support Image">
						<div class="card-body">
							<h5 class="card-title">Premier Customer Support</h5>
							<p class="card-text">Regardless of time or day, we’re here to help you solve any issues that may arise whether technical or business related.</p>
						</div>
					</div>
				
					<div class="card text-center">
						<img class="card-img-top mx-auto pt-3 solutions-image" src="{% static 'website_app/routing.svg' %}" alt="Routing and Escalation Image">
						<div class="card-body">
							<h5 class="card-title">Routing Rules and Automated Escalation</h5>
							<p class="card-text">Route your cases intelligently so that data requests land in the correct queue regardless of channel or type.</p>
						</div>
					</div>
		
			
			</div>

		</div>



	</div>
</div>

</div>


{% endblock %}
