{% extends 'website_app/base.html' %}
{% load static %}

{% block body_block %}
<div style="background-color:#2d5d7b;padding-bottom: 50px;">
		<div class="container pt-5 mt-5">
			<div class="jumbotron" style="background-color: white">
				<h1>Thanks for reaching out!</h1>
				<h3>We're very excited to chat. One of our team members will reach out shortly.</h3>
				
			</div>
			
	

<div class="container-fullwidth" style="margin-top: 80px;border-top: 1px #e8e8e8 solid;">
	<h1 class="resources" style="color: white">Want to learn more in the meantime?</h1>
	<div class="row">
			<div class="col-sm resourceTitle mt-5"><h4>How new legislation affects your business</h4>
				<br><div class="resourceBody">With new data privacy restrictions comes necessary changes to stay compliant. See the report here.</div>
				<br>
				<br>
				<div class="btn btn-link" style="text-align:left">Read now</div>  
			</div>

			<div class="col-sm resourceTitle mt-5"><h4>How to prepare for CCPA</h4>
				<br><div class="resourceBody">New to data compliance? See how to best prepare yourself for data compliance. </div> 
				<br>
				<br>
				<br>
				<br>
				<div class="btn btn-link" style="text-align:left">Read now</div> 
			</div>

			<div class="col-sm resourceTitle mt-5"><h4>The Braveheart Data experience</h4>
				<br><div class="resourceBody">The Braveheart Data experience makes it easy for your company to stay compliant and handle consumer data requests. See how.</div>
				<br>
				<br>
				<div class="btn btn-link" style="text-align:left">See whitepaper</div>
			</div>
	</div>
	</div>
{% endblock %}