html,body{
	height: 100vh;
	overflow: auto;
	font-family: 'Montserrat', sans-serif;
}

/*body{
	font-family: 'Montserrat', sans-serif;
	height:100vh;

}*/


/*footer{
	padding-bottom: 140px;
}
*/

.container-fullwidth.index-banner{
	background: radial-gradient(circle, rgba(20,117,190,1) 0%, rgba(46,192,249,0.75) 100%);
	/*background-image: linear-gradient(to bottom,#52489C,#2EC0F9,#FFFFFF);*/
	/*background-image: linear-gradient(to bottom,#52489C,#1475be,#2EC0F9,#FFFFFF);*/
	/*background-image: linear-gradient(to bottom,#2D5D7B,#1475be,#FFFFFF);*/
	min-height: 600px;
	color: white;
	padding-bottom: 100px;
/*	position: relative;*/
 	/*top: 50%;
  	transform: translateY(-50%);*/
}

/*.navbar{
	border-bottom: 1px solid;
}*/

.page-footer{
	background-color:#F4F5F7;
}

.footer-link{
	padding: 40px 0;
	color: #5D5D5D;
}

/*.nav-item{
	margin:1.1em;
	margin-right: 30px;
	font-family: 'Montserrat', sans-serif;
}*/

#bodyContainer{
	font-family: 'Montserrat', sans-serif;
}

#challengeStatement{
	font-size:1.4em;
/*	position: relative;*/
	padding-top: 10px;
	float: center;
	margin-right: 20%;
	margin-left: 20%;

}

#home_banner{

	/*top: 50%;*/
	/*background-color:#1475BE;*/
	color: white;
	text-align:center;
	border-style:2px black;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 105px;
	margin-bottom: 105px;
}


#home_accent_image2{

	margin-top: -510px;
	position: relative;
	float:right;
	width: 1000px;
	
}

@media (max-width:1400px){
    #home_accent_image2{
        display:none;
    }
}

#home_accent_image3{

	margin-top: -510px;
	position: relative;
	float:left;
	width: 1000px;
	
}


@media (max-width:1400px){
    #home_accent_image3{
        display:none;
    }
}


/*#hero-span{
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	padding-top: 200px;
}*/


#hero-text{
	padding-top: 200px;
}

#index-hero-title{
	font-size: 2em;
}

#solution-banner-title{
	font-size:3em;
	font-weight:300;
}

#solution-banner-text{
	font-size:1em;
}


#index-hero-text{
	font-size:1em;
	
}

#hero-subtext{
	padding-top: 5px;
}



.col-12.banner-col{
	max-width: 800px;
}

.col-sm.index-banner-col{
	width: 500px;
	float: center;
}

.heroStatement{

	display: inline-block;
	text-align: center;
	padding-top: 50px;
	position: relative;
	/*height: 200px;*/
	max-width: 520px;
	font-size:1.9em;
	font-weight: 400;
	/*margin: 50%;*/
	

}

.mt-4.hero-subtext{
	display: inline-block;
	position: relative;
	text-align: center;
	max-width: 520px;
	font-weight:300;
}

#index-solution-container{
	text-align: center;
	padding-bottom: 100px;
	position:relative;
}

.container-fullwidth.resource-container{
	background: radial-gradient(circle, rgba(93,93,93,0.02) 42%, rgba(255,255,255,0) 60%);
	margin-top: 80px;
	/*border-top: 1px #e8e8e8 solid;*/
	text-align: center;
	padding-bottom: 100px;
	position: relative;

}

.jumbotron.j2{
	text-align: center;
	margin-top: -50px;
	background-color: white;
	width: 80%;
	padding-bottom:60px; 
	padding-right:80px;
	padding-left:80px ;
	padding-top:50px;
	border-radius:10px;
	box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.2);
}

/*.btn.btn-info{
	font-weight: 600;
}*/

#value-add-container{
	background-image: linear-gradient(to right,#2d5d7b,#1475be);
	/*background: linear-gradient(180deg, rgba(230,230,230,0.7) 40%, rgba(230,230,230,0.40) 80%,rgba(255,255,255,0) 100%);*/
	margin-bottom: 100px;
	color: white;
	box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.2);
	/*max-width: 1600px;*/
}





.value-add-text{
	/* border: 2px solid rgba(45, 93, 123,.75);*/
	 text-align: center;
	/*padding-top: 65px;*/
	/*padding-bottom: 15px; */
	padding-top: 20px;
	padding-bottom: 20px;
	font-size:1.4em;
	width: 100px;
	
	margin-top: 20px;
	
	font-weight: 500;
}

.col-4.d-none.d-sm-block.solutionTitle{
	padding: 5px;
	color: #5D5D5D;
	font-weight: 600;

}

.col-4.d-none.d-sm-block.home-exp{
	padding-top: 30px;
	font-size: .9em;
	color:#5D5D5D;
}

.resources{
	padding-top: 10px;
	color:#5D5D5D;
	font-weight: 400;
	/*border-top: 1px solid rgba(93, 93, 93,.2);*/
}

.card.index-resource-card{
	height: 100%;
	border-radius: 10px;

}

.card-img-top.index-resource-img{
	width: 300px;
	height:auto;
	/*padding-left: 20%*/
	/*object-fit: cover;*/
}

.col-md-4.d-none.d-sm-block.resourceTitle.mt-5{
	/*background-color: #F9F9F9;*/
	border-radius: 10px;
	margin-right: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2);
	font-weight: 400px;
	width: 100px;
}

.btn.btn-primary.index-resource-button{
	text-align: center;
}

.resourceBody{
	padding-top: 20px;
	margin-bottom: 80px;
}

.reachOutText{
	color:white;
	font-size: 1.5em;
	padding-top: 100px;
	margin-top:100px; 
	text-align:center;
}

.btn.btn-success.reachOutButton{
	margin-bottom: 80px;
}

.container.footer{
	color:#5D5D5D;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 100px;
	align-items:center;
}



/*
STYLING FOR PROSPECT_FORM.HTML*/

.container-fullwidth.contact-banner{
	background-image: linear-gradient(to bottom,#52489C,#2EC0F9,#FFFFFF);
	/*background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );*/
	min-height: 400px;
	color: white;
	/*padding-bottom: 20px;*/
}

#contact-banner-row{
	padding-top: 150px;
}

#contact-hero-text{
	text-align: center;
	font-size:3em;
}

.col-sm-6.contactUsText{
	font-weight:300;
	text-align:left;
	padding-right: 100px;

	/*color:white;*/
	/*background-color: #1E346E;*/

}

.jumbotron.j3{
	background-color: white;
	/*width: 80%;*/
	padding:50px;
	border-radius:10px;
	box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.2);
}

/*
STYLING FOR COMPLIANCE_DETAIL.HTML*/

.container-fullwidth.compliance-banner{
	background-image: linear-gradient(to bottom right,#2D5D7B,#5271FF);
	min-height: 600px;
	color: white;
}

#compliance-banner-content{
	padding-top: 180px;
}

#compliance-banner-subcontent{
	padding-top: 20px;
}

#compliance-banner-title{
	font-size:2em;
	font-weight:300;
	max-width: 600px;
}

#compliance-banner-text{
	font-size: 1em;
	max-width: 600px;
}

#compliance_banner{
	background-image: linear-gradient(to bottom right,#2D5D7B,#5271FF);
	color: white;
	text-align:center;
	border-style:2px black;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 105px;
	margin-bottom: 105px;
	
}


#header{
	max-width: 100%;
	max-height:auto;
}

.complianceText{
	margin-top: -150px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.2);

}




#accentImage2{
	width: 830px;
	height: 400px;
	margin-top: -500px;
	float:right;
	/*margin-left:200px;*/
}

#contact-accent-image{
	width: 300px;
	height:auto;
	/*margin-top:-2000px;*/
	float: center;
}


/*STYLING FOR PRODUCT_DETAIL.HTML*/

/*#nav-tab{
	text-align:center;
}*/


#nav-tab{
	font-size: 1.3em;
}

.card-title{
	font-weight:600;
}


.container-fullwidth.solutions-banner{
	background: radial-gradient(circle, rgba(20,117,190,1) 0%, rgba(46,192,249,0.75) 100%);
	/*background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);*/
	/*background: linear-gradient(180deg,rgba(230,230,230,0.9) 20%, rgba(230,230,230,0.7) 40%, rgba(230,230,230,0.20) 80%,rgba(255,255,255,0) 100%);*/
	/*background: linear-gradient(180deg, rgba(244,244,244,0.750656512605042) 0%, rgba(249,249,249,0.4) 50%, rgba(255,255,255,1) 100%);*/
	/*background-image: linear-gradient(to bottom right,#2D5D7B,#5271FF);*/
	min-height: 475px;
	color: white;
	padding-bottom: 100px;
}

#solution-banner-content{
	padding-top: 175px;
}

#solution-banner-subcontent{
	padding-top: 20px;
}



/*#solutions_banner{

	
	background-color:#2d5d7b;
	color: white;
	text-align:center;
	border-style:2px black;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 105px;
	margin-bottom: 105px;
}
*/
.solutions-image {
	height: 200px;
	width: 200px;
}

.card.text-center{
	border-radius: 20px;
	border-color: #2d5d7b;
	border-width:2px;
}

/*.row.solution-card{
	height:300px;
}
*/

/*OLD*/

li{
	font: black;
}


/*#brand{
	color: #333333;
	font-weight: bold;

}*/

/*.home-exp{
	padding: 20px;
}
*/


form{
	width:350px;
	padding: 20px;
	/*border: 1px solid white;*/
	align-content: auto;
}

#stepone-leftpanel{
	background-color: #ffffff;
}

.steptwo-table{
	border: 2px solid black;
	margin: 25px;
	/*align:center;*/
	text-align: left;		
}

.steptwo-td{
	border: 2px solid black;
	tex-align: left;
	align:left;
}
#tier1header{
	font: 1.4em blue solid bold;
	/*border: 2px black;*/
}

#tier2header{
	font: 1.4em blue solid bold;
	border: 2px black;
}



#tier3header{
	font: 1.4em blue solid;
	border: 2px black;
}

/*th{
	font: 2em;
	background: blue solid;
}
*/
/*.jumbotron{
	background: white;
	border-color: #403D58;
	border-radius: 2px;
	border-width: 20px;
	border-style:solid;
}
*/
#bundle_header{
	margin: 10px;
	color: black;
	/*font-style: italic;*/
	/*font-weight: bold;*/
	font-family: Ariel Bold;
	/*font-family: 'Montserrat', sans-serif;*/
}

/*.features{
	list-style:none;
}*/

.btn{
	width: 250px;
	margin-top: 2em;
	/*background-color: #2176AE;
	border-color: #2176AE*/

}

.hero-panel{
	font-style: white 1.2em;
}


/*PROSPECT_DETAIL.HTML*/

.container-fullwidth.contact-detail-banner{
	background-image: linear-gradient(to bottom right,#2D5D7B,#5271FF);
	/*min-height: 600px;*/
	color: white;
	padding-bottom: 75px;  
}

#contact-detail-banner-title{
	padding-top: 30px;
	font-size:3em;
	text-align: center;
}

#contact-detail-banner-text{
	text-align: center;
	font-size:1.5em;
}

#contact-detail-accent-image{	
	padding-top: 150px;
	width: 100px;
}



